body{
  background-color: rgba(139, 192, 216, 0.73) ;
  font-family: 'Roboto', sans-serif;
  color: rgb(10, 96, 161);
}
.weather-app{
  border-radius: 6px;
  max-width: 600px;
  margin: 60px auto ;
  padding: 15px;
  background-color: white;
  box-shadow: 4px 4px 4px 4px rgba(132, 177, 197, 0.73);
}

a{
  color: rgb(10, 96, 161);
}

.entry{
  width: 480px;
  padding: 10px;
  border: 1px solid rgb(238, 246, 252);
  border-radius: 4px;
  background-color: rgb(238, 246, 252);
  font-size: 17px;

}

.submit-button{
  margin: 10px;
  padding: 14px 20px;
  font-size: 16px;
  background-color:rgb(238, 246, 252);
  border: 1px solid rgb(238, 246, 252);
  border-radius: 6px;
  color: rgb(129, 138, 145);
}

.submit-button:hover{
  cursor: pointer;
  color: rgb(238, 246, 252);
  background-color: rgb(10, 96, 161);
}
.search-form{
  border-bottom: 1px solid rgb(236, 236, 236);
  padding-bottom: 20px;
}

h1{
 margin-bottom: 0px;
 font-size: 40px;
 font-weight: 800;
}

.weather-info{
  font-size: 18px;
}
.percentage, 
.windspeed, 
.time{
  color: rgba(85, 94, 34, 0.73);
}
.details{
  padding: 2px 0 20px 0;
  display: flex;
  justify-content: space-between;
}
.weather-degree{
  display: flex;
}

.icon{
  font-size: 35px;
  margin-top: -40px;
}

.degree{
  margin-top: -40px;
  font-size: 80px;
  font-weight: bold;
  color: rgb(10, 96, 161);
}

.unit{
  margin-top: -28px;
  font-size: 26px;
}

.forecast{
 display: flex;
 justify-content: space-around;
}

.forecast-details{
  text-align: center;
    color: black;
    font-weight: bold;
    margin-bottom: 10px;
    background-color: rgb(252, 245, 245);
    max-width: 200px;
    padding: 10px;
}

.min-temp{
  opacity: 0.6;
}

footer{
  border-top: 1px solid rgb(236, 236, 236);
  padding-top: 20px;
  text-align: center;
  font-size: 16px;
  color: black;
}